<a href="https://colab.research.google.com/github/Alan-Hans/Alan-Hans/blob/main/solutionv2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This challenge requires to predict the probability of delay of flights at Santiago de Chile Airport (SCL) using a provided dataset. This work was developed by Alan Hans Bitterlich Koning, email: Alan.bitterlich.k@gmail.com. The index of this notebook is the following: 
```
1.- Import data 
2.- EDA
3.- Models
4.- Results
5.- Comments

#1.- Import data

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

url = 'https://raw.githubusercontent.com/Alan-Hans/Challenge-Data-Scientist/main/dataset_SCL.csv'

df = pd.read_csv(url)

<ipython-input-1-b0cb3f0119c9>:9: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [2]:
df

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,22,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,25,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,27,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,29,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,31,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima

Description of every column
```
Fecha-I: Scheduled date and time of departure (local time) in format "YYYY-MM-DD hh:mm:ss" (year-month-day hour:minute:second).
Vlo-I: Scheduled flight number (text)
Ori-I: Origin city code (text)
Des-I: destination city code. (text)
Emp-I: Scheduled airline code (text)
Fecha-O: Date and time of arrival (local time) in format "YYYY-MM-DD hh:mm:ss" (year-month-day hour:minute:second).
Vlo-O: Flight operation number of the flight (text)
Ori-O: Operation origin city code (text)
Des-O: Operation destination city code (text)
Emp-O: Airline code of the operated flight (text)
DIA: Day of the month (numeric)
MES: Month of the year (numeric)
AÑO: Year (numeric)
DIANOM: Day of the week (text)
TIPOVUELO: Type of flight, I =International, N =National (text)
OPERA: Operating airline company (text)
SIGLAORI: Name city of origin (text)
SIGLADES: Destination city name (text)'

#2.- EDA

 
#Some interesting insights from this analysis: 

*   It shows that the largest number of flights in this data correspond to Grupo LATAM airlines with about 58%.
*   The Top 5 destinations are: Buenos Aires,     Antofagasta,   Lima,             
Calama and           Puerto Montt.
*   Most flights are made during the month of December and on Fridays.

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Print the first few rows of the dataset to get a sense of its structure
print(df.head())

# Check the shape of the dataset
print(df.shape)

# Check for missing values
print(df.isnull().sum())

# Descriptive statistics
print(df.describe())

# List of columns
print(df.info())

               Fecha-I Vlo-I Ori-I Des-I Emp-I              Fecha-O Vlo-O  \
0  2017-01-01 23:30:00   226  SCEL  KMIA   AAL  2017-01-01 23:33:00   226
1  2017-01-02 23:30:00   226  SCEL  KMIA   AAL  2017-01-02 23:39:00   226
2  2017-01-03 23:30:00   226  SCEL  KMIA   AAL  2017-01-03 23:39:00   226
3  2017-01-04 23:30:00   226  SCEL  KMIA   AAL  2017-01-04 23:33:00   226
4  2017-01-05 23:30:00   226  SCEL  KMIA   AAL  2017-01-05 23:28:00   226

  Ori-O Des-O Emp-O  DIA  MES   AÑO     DIANOM TIPOVUELO              OPERA  \
0  SCEL  KMIA   AAL    1    1  2017    Domingo         I  American Airlines
1  SCEL  KMIA   AAL    2    1  2017      Lunes         I  American Airlines
2  SCEL  KMIA   AAL    3    1  2017     Martes         I  American Airlines
3  SCEL  KMIA   AAL    4    1  2017  Miercoles         I  American Airlines
4  SCEL  KMIA   AAL    5    1  2017     Jueves         I  American Airlines

   SIGLAORI SIGLADES
0  Santiago    Miami
1  Santiago    Miami
2  Santiago    Miami
3  Santiago    Miami
4  Santiago    Miami
(68206, 18)
Fecha-I      0
Vlo-I        0
Ori-I        0
Des-I        0
Emp-I        0
Fecha-O      0
Vlo-O        1
Ori-O        0
Des-O        0
Emp-O        0
DIA          0
MES          0
AÑO          0
DIANOM       0
TIPOVUELO    0
OPERA        0
SIGLAORI     0
SIGLADES     0
dtype: int64
                DIA           MES           AÑO
count  68206.000000  68206.000000  68206.000000
mean      15.714790      6.622585   2017.000029
std        8.782886      3.523321      0.005415
min        1.000000      1.000000   2017.000000
25%        8.000000      3.000000   2017.000000
50%       16.000000      7.000000   2017.000000
75%       23.000000     10.000000   2017.000000
max       31.000000     12.000000   2018.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  object
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.4+ MB
None

In [4]:
## For the purpose of this analysis, null results will be filtered out, which apparently corresponds to only 1, so it will not have a great impact and drop duplicate if there are.
df = df.dropna()
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68205 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68205 non-null  object
 1   Vlo-I      68205 non-null  object
 2   Ori-I      68205 non-null  object
 3   Des-I      68205 non-null  object
 4   Emp-I      68205 non-null  object
 5   Fecha-O    68205 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68205 non-null  object
 8   Des-O      68205 non-null  object
 9   Emp-O      68205 non-null  object
 10  DIA        68205 non-null  int64
 11  MES        68205 non-null  int64
 12  AÑO        68205 non-null  int64
 13  DIANOM     68205 non-null  object
 14  TIPOVUELO  68205 non-null  object
 15  OPERA      68205 non-null  object
 16  SIGLAORI   68205 non-null  object
 17  SIGLADES   68205 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.9+ MB

In [ ]:
for i in df.columns:
    print(i)
    print('Unique Values: '+str(len(df.groupby([i]).count())))
    print(df[i].value_counts())

Fecha-I
Unique Values: 53252
2017-07-28 13:30:00    6
2017-03-19 18:00:00    6
2017-03-26 18:00:00    6
2017-12-16 13:35:00    5
2017-02-15 13:35:00    5
                      ..
2017-06-01 15:16:00    1
2017-06-02 15:16:00    1
2017-06-03 15:16:00    1
2017-06-04 15:16:00    1
2017-12-31 14:55:00    1
Name: Fecha-I, Length: 53252, dtype: int64
Vlo-I
Unique Values: 750
174     686
11      645
116     608
150     557
162     553
       ...
1158      1
368       1
9955      1
9701      1
1218      1
Name: Vlo-I, Length: 750, dtype: int64
Ori-I
Unique Values: 1
SCEL    68205
Name: Ori-I, dtype: int64
Des-I
Unique Values: 64
SCFA    5787
SPJC    5269
SCCF    5145
SCTE    4357
SCIE    3995
        ...
SBFI       1
SPSO       1
SEQU       1
SEQM       1
SARI       1
Name: Des-I, Length: 64, dtype: int64
Emp-I
Unique Values: 30
LAN    37611
SKU    14298
TAM     3049
ARG     1949
CMP     1850
LAW     1573
AVA     1152
JAT     1095
GLO      806
AAL      757
ACA      565
IBE      362
AFR      358
DAL      358
AMX      351
UAL      335
ONE      279
AZA      259
KLM      251
LAP      216
BAW      205
QFU      195
JMR      100
LRC       92
AUT       74
PUE       49
LXP        9
LPE        4
DSM        2
LNE        1
Name: Emp-I, dtype: int64
Fecha-O
Unique Values: 62774
2017-05-19 07:01:00    5
2017-11-05 14:51:00    5
2017-10-25 07:37:00    4
2017-03-08 13:34:00    4
2017-09-07 20:10:00    4
                      ..
2017-05-04 15:48:00    1
2017-05-05 17:02:00    1
2017-05-07 17:03:00    1
2017-05-08 17:06:00    1
2017-12-31 15:04:00    1
Name: Fecha-O, Length: 62774, dtype: int64
Vlo-O
Unique Values: 866
174      649
11       646
116      608
150      517
704      514
        ...
356        1
1148       1
846A       1
4950       1
180.0      1
Name: Vlo-O, Length: 866, dtype: int64
Ori-O
Unique Values: 1
SCEL    68205
Name: Ori-O, dtype: int64
Des-O
Unique Values: 63
SCFA    5786
SPJC    5269
SCCF    5146
SCTE    4357
SCIE    3993
        ...
SEQM       2
KIAD       1
SPSO       1
EGYP       1
SLCB       1
Name: Des-O, Length: 63, dtype: int64
Emp-O
Unique Values: 32
LAN    20988
LXP    14558
SKU    14298
TAM     3046
ARG     1946
CMP     1850
JMR     1647
LPE     1214
JAT     1095
AVA      885
GLO      806
AAL      757
ACA      565
DSM      493
LNE      374
IBE      362
AFR      358
DAL      358
LRC      357
AMX      351
UAL      335
ONE      279
AZA      259
KLM      251
LAP      219
BAW      205
QFA      195
AUT       77
PUE       49
56R       16
48O       10
TPU        2
Name: Emp-O, dtype: int64
DIA
Unique Values: 31
20    2290
27    2286
12    2284
10    2283
6     2275
22    2272
13    2272
3     2271
16    2268
26    2267
21    2267
7     2264
23    2260
5     2241
15    2239
11    2237
19    2237
24    2232
28    2232
17    2228
9     2227
2     2223
14    2221
4     2215
8     2213
1     2208
25    2179
18    2160
29    2044
30    2020
31    1290
Name: DIA, dtype: int64
MES
Unique Values: 12
12    6356
1     6107
11    6080
10    6032
7     5992
8     5744
9     5610
2     5561
3     5482
5     5240
4     5020
6     4981
Name: MES, dtype: int64
AÑO
Unique Values: 2
2017    68203
2018        2
Name: AÑO, dtype: int64
DIANOM

In [ ]:
# Create a new categorical column based on Column1
df['TIPOVUELO_int'] = df['TIPOVUELO'].apply(lambda x: 1 if x == 'I' else 0)

# Print the updated dataframe
print(df.info())

#Creation of feature variables

In [ ]:
import pandas as pd

# Assuming your date column is called "Date-I"
# Create a datetime object from the "Date-I" column
df['Date-I'] = pd.to_datetime(df['Fecha-I'], format="%Y-%m-%d %H:%M:%S")

# Define the high season periods
high_season_periods = [
    (pd.to_datetime('12-15-2017', format="%m-%d-%Y").date(), pd.to_datetime('03-03-2018', format="%m-%d-%Y").date()),
    (pd.to_datetime('07-15-2017', format="%m-%d-%Y").date(), pd.to_datetime('07-31-2017', format="%m-%d-%Y").date()),
    (pd.to_datetime('09-11-2017', format="%m-%d-%Y").date(), pd.to_datetime('09-30-2017', format="%m-%d-%Y").date())
]

# Define a function to check if a date is in a high season period
def is_in_high_season(date):
    for period in high_season_periods:
        if period[0] <= date.date() <= period[1]:
            return 1
    return 0

# Apply the function to create the "high_season" column
df['high_season'] = df['Date-I'].apply(is_in_high_season)

According to general instructions, it should be considered landing and takeoff of aircraft but it is not clear according to times if it is landing or taking off, variables are reviewed and it is not possible to conclude if it is landing or taking off without an extra variable. Therefore we proceed to create the function taking into consideration that only time will be subtracted and in case the result is negative it will be consider as negative in order to enter to the predicction.

In [ ]:
import pandas as pd

# Convert date columns to datetime format
df['Date-I'] = pd.to_datetime(df['Fecha-I'])
df['Date-O'] = pd.to_datetime(df['Fecha-O'])

# Handle negative values in min_diff column
# Calculate the time difference between two columns
df['min_diff'] = df.apply(lambda row: (row['Date-O'] - row['Date-I']).total_seconds() / 60 if row['Date-O'] > row['Date-I'] else (row['Date-I'] - row['Date-O']).total_seconds() / -60, axis=1)




# Add period_day column based on Date-I
df['period_day'] = df['Date-I'].apply(lambda x: 'morning' if 5 <= x.hour < 12 else ('afternoon' if 12 <= x.hour < 19 else 'night'))

# Create a function to set delay_15 column based on min_diff
def set_delay_15(x):
    if x > 15:
        return 1
    else:
        return 0

# Apply the set_delay_15 function to create delay_15 column
df['delay_15'] = df['min_diff'].apply(set_delay_15)

# Print the updated dataframe
df

In [ ]:
# create dictionary to map string values to integers
mapping_dict = {
    'Lunes': 0,
    'Martes': 1,
    'Miercoles': 2,
    'Jueves': 3,
    'Viernes': 4,
    'Sabado': 5,
    'Domingo': 6
}

# create new column using map method with dictionary
df['DIANOM_int'] = df['DIANOM'].map(mapping_dict)

# add 7 as a possible value (since there are 7 string values)
df['DIANOM_int'] = df['DIANOM_int'].fillna(7).astype(int)

In [ ]:
# create dictionary to map string values to integers
mapping_dict = {
    'morning': 0,
    'afternoon': 1,
    'night': 2,
}

# create new column using map method with dictionary
df['period_day_int'] = df['period_day'].map(mapping_dict)

# add 7 as a possible value (since there are 7 string values)
df['period_day_int'] = df['period_day_int'].fillna(7).astype(int)

In [ ]:
cat_var = ['OPERA','SIGLAORI',"SIGLADES"]
for i in cat_var:
   name = i + '_int'
   df[name] = pd.factorize(df[i])[0]

df.info()

#Outliers treatment

In [ ]:
def detect_outliers(df,features):
    outlier_indices=[]
    
    for c in features:
        # 1st quartile
        Q1=np.percentile(df[c],25)
        
        # 3rd quartile
        Q3=np.percentile(df[c],75)
        
        # IQR
        IQR= Q3-Q1
        
        # Outlier Step
        outlier_step= IQR * 2
        
        # Detect outlier and their indeces 
        outlier_list_col = df[(df[c]< Q1 - outlier_step)|( df[c] > Q3 + outlier_step)].index
        
        # Store indices 
        outlier_indices.extend(outlier_list_col)
    
    outliers_indices = Counter(outlier_indices)
    multiple_outliers = list(i for i , v in outliers_indices.items() if v>2 )
    return multiple_outliers

In [ ]:
>>> from collections import Counter

df.loc[detect_outliers(df,['DIA',
 'MES',
 'AÑO',
 'TIPOVUELO_int',
 'TIPOVUELO_int',
 'Date-I',
 'high_season',
 'Date-O',
 'min_diff',
 'delay_15',
 'DIANOM_int',
 'period_day_int',
 'OPERA_int',
 'SIGLAORI_int',
 'SIGLADES_int'])]

In [ ]:
df = df.drop(detect_outliers(df,['DIA',
 'MES',
 'AÑO',
 'TIPOVUELO_int',
 'TIPOVUELO_int',
 'Date-I',
 'high_season',
 'Date-O',
 'min_diff',
 'delay_15',
 'DIANOM_int',
 'period_day_int',
 'OPERA_int',
 'SIGLAORI_int',
 'SIGLADES_int']),axis = 0).reset_index(drop = True)

#Graph analisis and ratios

In [ ]:
# Ratio between High season and delay
count = df[(df['delay_15'] == 1) & (df['high_season'] == 1)].shape[0]
count_2 = df[(df['high_season'] == 1)].shape[0]
ratio = count / count_2
count_3 = df[(df['delay_15'] == 1) & (df['high_season'] == 0)].shape[0]
count_4 = df[(df['high_season'] == 0)].shape[0]
ratio_2 = count_3 / count_4

print ('Ratio referring to high season and delay:' )
print (ratio)

print ('Ratio referring to low season and delay:' )
print (ratio_2)

In [ ]:
# Ratio between High season and delay
count = df[(df['delay_15'] == 1) & (df['period_day'] == 'night')].shape[0]
count_2 = df[(df['period_day'] == 'night')].shape[0]
ratio = count / count_2

count_3 = df[(df['delay_15'] == 1) & (df['period_day'] == 'afternoon')].shape[0]
count_4 = df[(df['period_day'] == 'afternoon')].shape[0]
ratio_2 = count_3 / count_4

count_5 = df[(df['delay_15'] == 1) & (df['period_day'] == 'morning')].shape[0]
count_6 = df[(df['period_day'] == 'morning')].shape[0]
ratio_3 = count_5 / count_6

print ('Ratio referring to period day night delay:' )
print (ratio)

print ('Ratio referring to period day afternoon delay:' )
print (ratio_2)

print ('Ratio referring to period day morning delay:' )
print (ratio_3)

In [ ]:
period_day = df.groupby('delay_15')['period_day'].value_counts()
TIPOVUELO = df.groupby('delay_15')['TIPOVUELO'].value_counts()
SIGLAORI =  df.groupby('delay_15')['SIGLAORI'].value_counts()
SIGLAORI =  df.groupby('delay_15')['SIGLAORI'].value_counts()
SIGLADES =  df.groupby('delay_15')['SIGLADES'].value_counts()
SIGLADES =  df.groupby('delay_15')['SIGLADES'].value_counts()
OPERA =  df.groupby('delay_15')['OPERA'].value_counts()
high_season =  df.groupby('delay_15')['high_season'].value_counts()
MES = df.groupby('delay_15')['MES'].value_counts()
DIA = df.groupby('delay_15')['DIA'].value_counts()
AÑO = df.groupby('delay_15')['AÑO'].value_counts()
DIANOM = df.groupby('delay_15')['DIANOM'].value_counts()

In [ ]:
sns.countplot(x='delay_15', hue='SIGLADES', data=df)

# set axis labels and title
plt.xlabel('delay_15')
plt.ylabel('SIGLADES')
plt.title('Counts of SIGLADES by delay_15')
plt.legend(labels=[])
plt.show()

There are specific cities that have an influence on the delay.

In [ ]:
sns.countplot(x='delay_15', hue='period_day', data=df)

# set axis labels and title
plt.xlabel('delay_15')
plt.ylabel('period_day')
plt.title('Counts of period_day by delay_15')
plt.show()

Delays usually occur in the afternoon or nights with the follow ratio Ratio Referring to period day night delay:
0.20002305741295826
Ratio referring to period day afternoon delay:
0.19940406178938289
Ratio referring to period day morning delay:
0.16007258096327562

In [ ]:
sns.countplot(x='delay_15', hue='MES', data=df)

# set axis labels and title
plt.xlabel('delay_15')
plt.ylabel('MES')
plt.title('Counts of MES by delay_15')
plt.legend(labels=[])
plt.show()

Depending on the month, it does provide information regarding the delay and it can be assimilated as that in holidays dates (December or July) there are considerable delays.

In [ ]:
sns.countplot(x='delay_15', hue='DIA', data=df)

# set axis labels and title
plt.xlabel('delay_15')
plt.ylabel('DIA')
plt.title('Counts of MES by delay_15')
plt.legend(labels=[])
plt.show()

Depending on the day, it does not provide much information and there is an uniform distribution.

In [ ]:
sns.countplot(x='delay_15', hue='DIANOM', data=df)

# set axis labels and title
plt.xlabel('delay_15')
plt.ylabel('DIANOM')
plt.title('Counts of DIANOM by delay_15')
plt.show()

It is interesting the afluent on saturday is lower than the rest of the days and in sunday looks like there is better chances to have a delay.

In [ ]:
sns.countplot(x='delay_15', hue='high_season', data=df)

# set axis labels and title
plt.xlabel('delay_15')
plt.ylabel('high_season')
plt.title('Counts of high_season by delay_15')
plt.show()

Ratio referring to high season (1) and delay:
0.24372384937238495
Ratio referring to low season (0) and delay:
0.17422732236648233

In [ ]:
sns.countplot(x='delay_15', hue='OPERA', data=df)

# set axis labels and title
plt.xlabel('Flight Delayed by 15 Minutes or More')
plt.ylabel('Airline Name')
plt.title('Counts of Airline Names by Flight Delay')

# adjust the x-axis
plt.xticks(range(len(df['delay_15'].unique())), df['delay_15'].unique())
plt.legend(labels=[])


plt.show()

Not much information on other flights mostly representing latam and sky airline.

In [ ]:
sns.countplot(x='delay_15', hue='TIPOVUELO', data=df)

# set axis labels and title
plt.xlabel('Flight Delayed by 15 Minutes or More')
plt.ylabel('TIPOVUELO')
plt.title('Counts of TIPOVUELO by Flight Delay')

# adjust the x-axis
plt.xticks(range(len(df['delay_15'].unique())), df['delay_15'].unique())



plt.show()

International flights are more prone to delays. But nothing conclusive.

In [ ]:
import plotly.graph_objs as go
import plotly.offline as pyoff
import seaborn as sns

corrmat = df.corr()
fig = plt.figure(figsize = (12, 9))
sns.heatmap(corrmat, vmax = .8, square = True, annot = True)
plt.show()

In [ ]:
df['SIGLAORI_int']